#content.content.section.row
  .col-md-8.bg-base.col-lg-8.col-xl-9
    .ribbon.ribbon-highlight
      %ol.breadcrumb.ribbon-inner
        %li
          %a{href: "#"} Home
        -if @page_category
          %li.active
            %a{href: "#"}= @page_category
    -if @page_category
      %header.page-header
        %h2.page-title
          = @page_category
    .entries
      - @post_pages.each do |post|
        -if post
          %article.entry.style-media.media.type-post
            %figure.media-object.pull-left.entry-thumbnail.hidden-xs
              / to disable lazy loading, remove data-src and data-src-retina
              %img{alt: "", "data-src" => "http://placehold.it/230x230", "data-src-retina" => "http://placehold.it/460x460", height: "230", src: "#{post.images.any? ? post.images.first.filename_url : '../assets/placeholder.gif'}", width: "230"}/
              / fallback for no javascript browsers
              %noscript
                %img{alt: "", src: "http://placehold.it/230x230"}/
            .media-body
              %header.entry-header
                %h3.entry-title
                  %a{href: post_path(post.id), rel: "bookmark"}= post.title
                .entry-meta
                  %span.author
                    by
                    %a{href: "blog.html"}= post.user.username.upcase
                  %span.entry-date
                    %a{href: "blog.html"}= "on #{post.created_at.strftime("%B %d %Y")}"
                  %span.category
                    In
                    %a{href: "#{post.category.downcase}"}= post.category
              %p
                = truncate(post.content, length: 232)
                %a.more-link{href: post_path(post.id)}
                  Continue Reading
                  %i.icon.icon-long-arrow-right
    / /.entris
    = paginate @post_pages
    / %ul.pagination
    /   %li
    /     %a{href: "#"} «
    /   %li
    /     %a{href: "#"} 1
    /   %li
    /     %a{href: "#"} 2
    /   %li.active
    /     %span 3
    /   %li
    /     %a{href: "#"} 4
    /   %li
    /     %a{href: "#"} 5
    /   %li
    /     %a{href: "#"} 6
    /   %li
    /     %a{href: "#"} 7
    /   %li
    /     %a{href: "#"} 8
    /   %li
    /     %a{href: "#"} 9
    /   %li
    /     %a{href: "#"} 10
    /   %li
    /     %a{href: "#"} 5
    /   %li
    /     %span ...
    /   %li
    /     %a{href: "#"} 1234
    /   %li
    /     %a{href: "#"} 1235
    /   %li
    /     %a{href: "#"} »
  = render 'sidebar'
