.section.row.entries.bg-primary.section-no-margin-bottom
  - if @featured.present?
    %article.entry.style-grid.style-hero.hero-sm-largest.type-post.col-sm-12.col-md-6.colheight-sm-1.colheight-md-2.colheight-lg-2.colheight-xl-2
      .ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
        %a{href: "#{@featured.first.category.downcase}"}= @featured.first.category
      %header.entry-header
        %h3.entry-title
          %a{href: post_path(@featured.first.id)}= @featured.first.title
        .entry-meta
          %span.entry-date
            %a{href: "blog.html"}= "#{time_ago_in_words(@featured.first.created_at)} ago"
          %span.entry-author
            by
            %a{href: "blog.html"}= @featured.first.user.username.upcase
      %figure.entry-thumbnail
        %a.overlay.overlay-primary{href: post_path(@featured.first.id)}
        / to disable lazy loading, remove data-src and data-src-retina
        %img{alt: "", "data-src" => "http://placehold.it/680x452", "data-src-retina" => "http://placehold.it/1024x680", height: "452", src: "#{@featured.first.images.any? ? @featured.first.images.first.filename_url : '../assets/placeholder.gif'}", width: "680"}/
        / fallback for no javascript browsers
        %noscript
          %img{alt: "", src: "http://placehold.it/680x452"}/
    - @featured[1..4].each do |post|
      -if post
        %article.entry.style-grid.style-hero.type-post.col-md-6.col-lg-3.colheight-sm-1
          .ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
            %a{href: "#{post.category.downcase}"}= post.category
          %header.entry-header
            %h3.entry-title
              %a{href: post_path(post.id)}= post.title
            .entry-meta
              %span.entry-date
                %a{href: "blog.html"}= "#{time_ago_in_words(post.created_at)} ago"
              %span.entry-author
                by
                %a{href: "blog.html"}= post.user.username
          %figure.entry-thumbnail
            %a.overlay.overlay-primary{href: post_path(post.id)}
            / to disable lazy loading, remove data-src and data-src-retina
            %img{alt: "", "data-src" => "http://placehold.it/480x280", "data-src-retina" => "http://placehold.it/720x420", height: "280", src: "#{post.images.any? ? post.images.first.filename_url : '../assets/placeholder.gif'}", width: "480"}/
            / fallback for no javascript browsers
            %noscript
              %img{alt: "", src: "http://placehold.it/480x280"}/