.sidebar.col-md-4.col-lg-4.col-xl-3
  %aside.widget
    %h2.widget-title.ribbon
      %span Featured Posts
    .entries.row
      - @posts[0..4].each do |post|
        %article.type-post.style-media-list.media.col-sm-6.col-md-12
          / to disable lazy loading, remove data-src and data-src-retina
          %img.media-object.pull-left{alt: "", "data-src" => "http://placehold.it/80x80", "data-src-retina" => "http://placehold.it/160x160", height: "80", src: "#{post.images.first.filename_url}", width: "80"}/
          / fallback for no javascript browsers
          %noscript
            %img{alt: "", src: "http://placehold.it/80x80"}/
          .media-body
            %h3.entry-title
              %a{href: post_path(post.id), rel: "bookmark"}= post.title
            .entry-meta
              %span.entry-date
                %a{href: "blog.html"}= "on #{post.created_at.strftime("%B %d %Y")}"
              %span.category
                In
                %a{href: "blog.html"}= post.category
  / /.widget
  / %aside#reviewCarousel.widget.carousel.slide
  /   %h2.widget-title.ribbon
  /     %span Latest Review
  /   .carousel-inner
  /     .item.active
  /       %article.entry.style-grid.style-review.type-post
  /         %header.entry-header
  /           %h3.entry-title
  /             %a{href: "single.html"} xPhone 5s Review
  /           %p.small Excepteur sint occaecat cupidatat non proident
  /         .style-review-score
  /           81
  /         %figure.entry-thumbnail
  /           %a.overlay.overlay-primary{href: "single.html"}
  /           / to disable lazy loading, remove data-src and data-src-retina
  /           %img{alt: "", "data-src" => "http://placehold.it/480x280", "data-src-retina" => "http://placehold.it/720x420", height: "280", src: "../img/placeholder.gif", width: "480"}/
  /           / fallback for no javascript browsers
  /           %noscript
  /             %img{alt: "", src: "http://placehold.it/720x420"}/
  /     / /.item.active
  /     .item
  /       %article.entry.style-grid.style-review.type-post
  /         %header.entry-header
  /           %h3.entry-title
  /             %a{href: "single.html"} xPhone 5s Review
  /           %p.small Excepteur sint occaecat cupidatat non proident
  /         .style-review-score
  /           80
  /         %figure.entry-thumbnail
  /           %a.overlay.overlay-primary{href: "single.html"}
  /           / to disable lazy loading, remove data-src and data-src-retina
  /           %img{alt: "", "data-src" => "http://placehold.it/480x280", "data-src-retina" => "http://placehold.it/720x420", height: "280", src: "../img/placeholder.gif", width: "480"}/
  /           / fallback for no javascript browsers
  /           %noscript
  /             %img{alt: "", src: "http://placehold.it/720x420"}/
  /     / /.item.active
  /   / /.carousel-inner
  /   %a.left.carousel-control{"data-slide" => "prev", href: "#reviewCarousel"}
  /     %span.icon.icon-angle-left
  /   %a.right.carousel-control{"data-slide" => "next", href: "#reviewCarousel"}
  /     %span.icon.icon-angle-right
  / / /.widget.carousel
  %aside.widget
    %h3.widget-title.ribbon
      %span Tags
    .tagcloud
      - Tag.all.uniq.each do |t|
        %a{href: "#"}= t.name if t
  / /.widget
/ /.sidebar col-md-4 col-lg-4 col-xl-3