.col-md-8.col-md-offset-2
  = form_for @post, html: { class: 'form-horizontal' } do |f|
    - if @post.errors.any?
      #error_explanation
        %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
        %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      .col-md-12
        = f.text_field :title, class: 'form-control', placeholder: 'Enter title'
    .form-group
      .col-md-12
        = f.text_area :content, class: 'form-control', placeholder: 'Enter content here...', style: 'height: 250px'
    .form-group
      .col-md-12
        = f.text_field :category, class: 'form-control', placeholder: 'Enter category'
    .form-group
      .col-md-12
        = f.text_field :tag_list, class: 'form-control', placeholder: "Enter tags seperated by commas ie 'bacon, meat, beer, cheese...'"

    = f.hidden_field :user_id, value: current_user.id

    = f.fields_for :images, @images, html: { multipart: true } do |img|
      = img.file_field :filename
    .form-group
      .col-md-4
        = f.submit 'Save', class: 'btn btn-primary'

        = link_to 'cancel', posts_path

