%header.page-header
  %h2.page-title
    Listing Posts
    = link_to 'add post', new_post_path, class: 'btn btn-default'

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
      %th
      %th
      %th
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
